# Exploring APOGEE

In this notebook, you will be exploring the APOGEE dataset and practicing those `pandas` skills from last week.

__Important:__ Make sure that the file called `APOGEEdata.csv` is in the same directory as this notebook, otherwise it won't run.

In [14]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# matplotlib settings
plt.rcParams.update({
    'xtick.direction': 'in',
    'xtick.top': True,
    'ytick.direction': 'in',
    'ytick.right': True,
    'figure.dpi': 140,
    'figure.figsize': (8, 5),
})

In [2]:
# Import full APOGEE dataset (takes a minute)
full_df = pd.read_csv('APOGEEdata.csv')

In [6]:
# Examine a sample view of the DataFrame
full_df

,APOGEE_ID,TELESCOPE,FIELD,ALT_ID,RA,DEC,GLON,GLAT,J,J_ERR,...,NI_FE_ERR,NI_FE_FLAG,CU_FE,CU_FE_SPEC,CU_FE_ERR,CU_FE_FLAG,CE_FE,CE_FE_SPEC,CE_FE_ERR,CE_FE_FLAG
0,VESTA,apo1m,calibration,,NaN,NaN,292.219131,-30.602919,99.999,0.000,...,0.010266,0,NaN,NaN,0.059403,2,NaN,NaN,NaN,64
1,2M00000002+7417074,apo25m,120+12,none,0.000103,74.285408,119.401807,11.767414,8.597,0.039,...,0.010609,0,NaN,NaN,0.001221,2,NaN,NaN,NaN,64
2,2M00000019-1924498,apo25m,060-75,none,0.000832,-19.413851,63.394122,-75.906397,11.074,0.022,...,0.013835,0,NaN,NaN,0.102594,2,NaN,NaN,NaN,64
3,2M00000032+5737103,apo25m,116-04,none,0.001335,57.619530,116.065371,-4.564768,10.905,0.023,...,0.016555,0,NaN,NaN,0.123839,2,NaN,NaN,NaN,64
4,2M00000032+5737103,apo25m,N7789,none,0.001335,57.619530,116.065371,-4.564768,10.905,0.023,...,0.012638,0,NaN,NaN,0.107103,2,NaN,NaN,NaN,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
733896,2M23595886-2009435,apo25m,060-75,none,359.995258,-20.162107,60.806239,-76.324013,11.788,0.022,...,NaN,0,NaN,NaN,NaN,258,NaN,NaN,NaN,64
733897,2M23595886+5726058,apo25m,116-04,none,359.995265,57.434956,116.025359,-4.745011,11.466,0.024,...,0.011980,0,NaN,NaN,NaN,259,-0.058750,-0.003090,0.072443,0
733898,2M23595921+5609479,apo25m,NGC7789_MGA,none,359.996744,56.163330,115.771964,-5.991363,11.985,0.023,...,0.017686,0,NaN,NaN,NaN,259,-0.103446,-0.047786,0.097572,0
733899,2M23595949-7342592,lco25m,SMC12,none,359.997887,-73.716454,307.821174,-42.919934,15.924,0.094,...,0.049422,0,NaN,NaN,0.166593,2,0.106860,0.162520,0.139456,0
733900,2M23595980+1528407,apo25m,105-45,none,359.999181,15.477974,105.077690,-45.602838,10.786,0.023,...,0.020078,0,NaN,NaN,0.289108,2,NaN,NaN,NaN,64

In [12]:
# Print all of the column names
print(full_df.columns.tolist())

['APOGEE_ID', 'TELESCOPE', 'FIELD', 'ALT_ID', 'RA', 'DEC', 'GLON', 'GLAT', 'J', 'J_ERR', 'H', 'H_ERR', 'K', 'K_ERR', 'AK_TARG', 'AK_TARG_METHOD', 'AK_WISE', 'SFD_EBV', 'APOGEE_TARGET1', 'APOGEE_TARGET2', 'APOGEE2_TARGET1', 'APOGEE2_TARGET2', 'APOGEE2_TARGET3', 'APOGEE2_TARGET4', 'TARGFLAGS', 'SURVEY', 'PROGRAMNAME', 'NVISITS', 'SNR', 'SNREV', 'STARFLAG', 'STARFLAGS', 'ANDFLAG', 'ANDFLAGS', 'VHELIO_AVG', 'VSCATTER', 'VERR', 'RV_TEFF', 'RV_LOGG', 'RV_FEH', 'RV_ALPHA', 'RV_CARB', 'RV_CHI2', 'RV_CCFWHM', 'RV_AUTOFWHM', 'RV_FLAG', 'N_COMPONENTS', 'MEANFIB', 'SIGFIB', 'MIN_H', 'MAX_H', 'MIN_JK', 'MAX_JK', 'GAIAEDR3_SOURCE_ID', 'GAIAEDR3_PARALLAX', 'GAIAEDR3_PARALLAX_ERROR', 'GAIAEDR3_PMRA', 'GAIAEDR3_PMRA_ERROR', 'GAIAEDR3_PMDEC', 'GAIAEDR3_PMDEC_ERROR', 'GAIAEDR3_PHOT_G_MEAN_MAG', 'GAIAEDR3_PHOT_BP_MEAN_MAG', 'GAIAEDR3_PHOT_RP_MEAN_MAG', 'GAIAEDR3_DR2_RADIAL_VELOCITY', 'GAIAEDR3_DR2_RADIAL_VELOCITY_ERROR', 'GAIAEDR3_R_MED_GEO', 'GAIAEDR3_R_LO_GEO', 'GAIAEDR3_R_HI_GEO', 'GAIAEDR3_R_MED_PHOTOGEO', 'GAIAEDR3_R_LO_PHOTOGEO', 'GAIAEDR3_R_HI_PHOTOGEO', 'ASPCAP_GRID', 'ASPCAP_CHI2', 'ASPCAPFLAG', 'ASPCAPFLAGS', 'FRAC_BADPIX', 'FRAC_LOWSNR', 'FRAC_SIGSKY', 'EXTRATARG', 'MEMBERFLAG', 'TEFF', 'TEFF_ERR', 'LOGG', 'LOGG_ERR', 'M_H', 'M_H_ERR', 'ALPHA_M', 'ALPHA_M_ERR', 'VMICRO', 'VMACRO', 'VSINI', 'TEFF_SPEC', 'LOGG_SPEC', 'C_FE', 'C_FE_SPEC', 'C_FE_ERR', 'C_FE_FLAG', 'CI_FE', 'CI_FE_SPEC', 'CI_FE_ERR', 'CI_FE_FLAG', 'N_FE', 'N_FE_SPEC', 'N_FE_ERR', 'N_FE_FLAG', 'O_FE', 'O_FE_SPEC', 'O_FE_ERR', 'O_FE_FLAG', 'NA_FE', 'NA_FE_SPEC', 'NA_FE_ERR', 'NA_FE_FLAG', 'MG_FE', 'MG_FE_SPEC', 'MG_FE_ERR', 'MG_FE_FLAG', 'AL_FE', 'AL_FE_SPEC', 'AL_FE_ERR', 'AL_FE_FLAG', 'SI_FE', 'SI_FE_SPEC', 'SI_FE_ERR', 'SI_FE_FLAG', 'P_FE', 'P_FE_SPEC', 'P_FE_ERR', 'P_FE_FLAG', 'S_FE', 'S_FE_SPEC', 'S_FE_ERR', 'S_FE_FLAG', 'K_FE', 'K_FE_SPEC', 'K_FE_ERR', 'K_FE_FLAG', 'CA_FE', 'CA_FE_SPEC', 'CA_FE_ERR', 'CA_FE_FLAG', 'TI_FE', 'TI_FE_SPEC', 'TI_FE_ERR', 'TI_FE_FLAG', 'TIII_FE', 'TIII_FE_SPEC', 'TIII_FE_ERR', 'TIII_FE_FLAG', 'V_FE', 'V_FE_SPEC', 'V_FE_ERR', 'V_FE_FLAG', 'CR_FE', 'CR_FE_SPEC', 'CR_FE_ERR', 'CR_FE_FLAG', 'MN_FE', 'MN_FE_SPEC', 'MN_FE_ERR', 'MN_FE_FLAG', 'FE_H', 'FE_H_SPEC', 'FE_H_ERR', 'FE_H_FLAG', 'CO_FE', 'CO_FE_SPEC', 'CO_FE_ERR', 'CO_FE_FLAG', 'NI_FE', 'NI_FE_SPEC', 'NI_FE_ERR', 'NI_FE_FLAG', 'CU_FE', 'CU_FE_SPEC', 'CU_FE_ERR', 'CU_FE_FLAG', 'CE_FE', 'CE_FE_SPEC', 'CE_FE_ERR', 'CE_FE_FLAG']

If you want to learn more about what each column means, check out the [allStar data model](https://data.sdss.org/datamodel/files/APOGEE_ASPCAP/APRED_VERS/ASPCAP_VERS/allStarLite.html).

## Make sample cuts

The APOGEE dataset is big - over 700,000 stars - but we don't want to use every single one of them. Some of these stars have poor data quality or were observed as part of an ancillary program. We need to make __selection cuts__ to ensure the quality of our data. We will be using the cuts presented in [Hayden et al. (2015)](https://iopscience.iop.org/article/10.1088/0004-637X/808/2/132) Table 1, starting with some of the more technical ones:

In [15]:
# Limit to main survey targets
sample_df = full_df[full_df['EXTRATARG'] == 0]
# Remove all stars flagged as bad
sample_df = sample_df[sample_df['ASPCAPFLAG'] & (2**23) == 0]
# Replace NaN stand-in values with NaN
sample_df.replace(99.999, np.nan, inplace=True)

### Signal-to-noise

One measure of the quality of the APOGEE spectra is the __signal-to-noise ratio__ $S/N$. The higher this ratio, the less contamination there is from random noise to the spectrum. Hayden et al. (2015) require S/N > 80; any stars below that may have inaccurate stellar parameters.

How can we select the targets with a high enough S/N? We could use a list comprehension, but that would be really slow with such a large dataset. Instead, we'll use __pandas indexing__.

First let's take a look at the corrected S/N column named "SNREV":

In [16]:
# Print the column of S/N values
sample_df['SNREV']

1         669.416500
2         233.314590
4         218.282410
6         282.745940
7         125.954730
             ...
733891    446.477900
733893    101.536750
733894     36.105625
733897    232.918260
733898     88.456130
Name: SNREV, Length: 364359, dtype: float64

We can use the `>` operator to see which rows have a S/N > 80:

In [17]:
# Check whether the S/N is greater than 80
sample_df['SNREV'] > 80

1          True
2          True
4          True
6          True
7          True
          ...
733891     True
733893     True
733894    False
733897     True
733898     True
Name: SNREV, Length: 364359, dtype: bool

Now we can pass this list of booleans (True / False values) to the DataFrame itself, which will return a shorter DataFrame of just the rows with S/N > 80:

In [18]:
# Cut low-S/N targets
sample_df[sample_df['SNREV'] > 80]

,APOGEE_ID,TELESCOPE,FIELD,ALT_ID,RA,DEC,GLON,GLAT,J,J_ERR,...,NI_FE_ERR,NI_FE_FLAG,CU_FE,CU_FE_SPEC,CU_FE_ERR,CU_FE_FLAG,CE_FE,CE_FE_SPEC,CE_FE_ERR,CE_FE_FLAG
1,2M00000002+7417074,apo25m,120+12,none,0.000103,74.285408,119.401807,11.767414,8.597,0.039,...,0.010609,0,NaN,NaN,0.001221,2,NaN,NaN,NaN,64
2,2M00000019-1924498,apo25m,060-75,none,0.000832,-19.413851,63.394122,-75.906397,11.074,0.022,...,0.013835,0,NaN,NaN,0.102594,2,NaN,NaN,NaN,64
4,2M00000032+5737103,apo25m,N7789,none,0.001335,57.619530,116.065371,-4.564768,10.905,0.023,...,0.012638,0,NaN,NaN,0.107103,2,NaN,NaN,NaN,64
6,2M00000068+5710233,apo25m,N7789,none,0.002850,57.173164,115.977154,-5.002392,10.664,0.023,...,0.011601,0,NaN,NaN,0.004401,2,-0.055580,0.000080,0.086572,0
7,2M00000103+1525513,apo25m,107-46_MGA,none,0.004322,15.430942,105.065440,-45.649348,11.278,0.023,...,0.019600,0,NaN,NaN,0.133414,2,NaN,NaN,NaN,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
733890,2M23595669+6131251,apo25m,116+00,none,359.986225,61.523659,116.833497,-0.736743,11.698,0.026,...,0.017598,0,NaN,NaN,0.014083,2,-0.017480,0.038180,0.112270,0
733891,2M23595676+7918072,apo25m,120+18,none,359.986523,79.302002,120.457508,16.678604,9.848,0.026,...,0.013729,0,NaN,NaN,NaN,259,-0.193610,-0.137950,0.043006,0
733893,2M23595837+5700444,apo25m,N7789,none,359.993224,57.012356,115.939899,-5.158948,12.657,0.026,...,0.022493,0,NaN,NaN,0.016774,2,-0.035640,0.020020,0.141408,0
733897,2M23595886+5726058,apo25m,116-04,none,359.995265,57.434956,116.025359,-4.745011,11.466,0.024,...,0.011980,0,NaN,NaN,NaN,259,-0.058750,-0.003090,0.072443,0
733898,2M23595921+5609479,apo25m,NGC7789_MGA,none,359.996744,56.163330,115.771964,-5.991363,11.985,0.023,...,0.017686,0,NaN,NaN,NaN,259,-0.103446,-0.047786,0.097572,0

Notice that the number of rows here is shorter than the number before - that means it worked! Now we can reassign `sample_df` to be this new DataFrame.

In [19]:
# Cut low-S/N targets and reassign the sample DF
sample_df = sample_df[sample_df['SNREV'] > 80]

### Simultaneous cuts

We will use the same technique as above to make the rest of the cuts to our sample. The inequality operators available to us in Python are:

- `>` greater than
- `>=` greater than or equal to
- `==` equal to (__two__ equal signs!!)
- `<=` less than or equal to
- `<` less than

We can also make multiple cuts at once by using the `&` operator. As an example, we can select all stars with S/N > 100 and metallicity [Fe/H] < -1.0:

In [20]:
sample_df[(sample_df['SNREV'] > 100) & (sample_df['FE_H'] < -1.0)]

,APOGEE_ID,TELESCOPE,FIELD,ALT_ID,RA,DEC,GLON,GLAT,J,J_ERR,...,NI_FE_ERR,NI_FE_FLAG,CU_FE,CU_FE_SPEC,CU_FE_ERR,CU_FE_FLAG,CE_FE,CE_FE_SPEC,CE_FE_ERR,CE_FE_FLAG
170,2M00004819-1939595,apo25m,060-75,none,0.200805,-19.666548,62.991124,-76.206301,10.290,0.024,...,0.028120,0,NaN,NaN,0.264023,2,-0.13956,-0.08390,0.068672,0
214,2M00005724+8350215,apo25m,NGC188_btx,none,0.238520,83.839333,121.491622,21.109410,9.864,0.026,...,0.020604,0,NaN,NaN,0.051296,2,-0.26706,-0.21140,0.055000,0
522,2M00020976+1601393,apo25m,105-45,none,0.540704,16.027588,106.007550,-45.218654,10.465,0.023,...,0.033562,0,NaN,NaN,NaN,3,-0.33706,-0.28140,0.052274,0
613,2M00023067+7358420,apo25m,120+12,none,0.627797,73.978355,119.511705,11.432533,8.183,0.023,...,0.018664,0,NaN,NaN,0.022229,2,NaN,NaN,NaN,64
1136,2M00044180-0005553,apo25m,100-60,none,1.174191,-0.098700,98.459847,-60.730137,10.542,0.024,...,0.020901,0,NaN,NaN,0.060147,2,0.35839,0.41405,0.063084,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732972,2M23562024-2011190,apo25m,060-75,none,359.084336,-20.188631,58.831144,-75.615030,12.105,0.023,...,0.032197,0,NaN,NaN,0.098616,258,NaN,NaN,NaN,64
733442,2M23580192-2050026,apo25m,060-75,none,359.508002,-20.834082,57.378554,-76.285691,9.496,0.023,...,0.022860,0,NaN,NaN,0.080818,2,-0.16226,-0.10660,0.051466,0
733491,2M23581225+1604435,apo25m,105-45,none,359.551068,16.078775,104.734994,-44.903752,12.201,0.022,...,0.037470,0,NaN,NaN,0.534319,2,0.14484,0.20050,0.067079,0
733596,2M23583666+1457179,apo25m,105-45,none,359.652787,14.954984,104.402483,-46.007437,11.902,0.022,...,0.030523,0,NaN,NaN,0.141302,2,-0.44416,-0.38850,0.136022,0
733599,2M23583719-1920305,apo25m,060-75,none,359.654966,-19.341831,62.865275,-75.598658,10.074,0.023,...,0.026311,0,NaN,NaN,0.155810,258,-0.17806,-0.12240,0.050093,0

### Surface gravity and effective temperature

Finally, we need to make sure that the stars in our sample come from the parameter space where APOGEE abundances are the most reliable. In particular, we want to select cool (red), giant stars (stars which have left the main sequence). Giant stars are marked by having a low __surface gravity__ $\log g$, and cool stars have a low __effective temperature__ $T_{\rm{eff}}$. Let's take a look at these parameters in the APOGEE data:

In [21]:
sample_df[['LOGG', 'TEFF']]

            LOGG       TEFF
1       0.904598  3723.9111
2       4.304115  5501.7730
4       3.715561  6162.0303
6       3.456132  5031.2637
7       4.123192  5945.7510
...          ...        ...
733890  2.480740  5008.3950
733891  1.731429  4311.3926
733893  2.474665  4954.1700
733897  2.480687  4859.9087
733898  2.571437  4585.4097

[304114 rows x 2 columns]

In their Table 1, Hayden et al. (2015) state that they select stars with $1.0 < \log g < 3.8$ and $3500 < T_{\rm{eff}} < 5500$ Kelvin. (For comparison, the Sun has $\log g = 4.4$ and $T_{\rm{eff}} = 5800$ K).

In the cell below, write code to limit the sample to this range. Remember to reassign `sample_df` to the new selection.

Now that we've made all these cuts, you may notice that our index is out of whack with the total number of rows. That's because pandas keeps each row's index the same as we make the cuts. We can easily fix this with the `reset_index` function. The `inplace=True` argument modifies the current DataFrame rather than returning a new one, and `drop=True` eliminates the old index entirely.

In [ ]:
sample_df.reset_index(inplace=True, drop=True)
sample_df

__Make a plot of effective temperature against surface gravity for the sample.__ Effective temperature should be on the x-axis and decreasing left to right (by convention). Surface gravity should be on the y-axis and decreasing bottom to top. This kind of plot is called a __Kiel diagram__. What do you notice about this plot, and how is it different from the one we made last week for the cluster M67?

## Chemical Abundances

### Notation

In astronomy, any element heavier than helium is called a "metal". The __metallicity__ $Z$ of a star is the mass fraction of metals with respect to the total mass of the star:

$$ Z = \sum_{i>2} \frac{m_i}{M} $$

where $i$ is the atomic number (1 for H, 2 for He, 3 for Li, etc.). The Sun has $Z_\odot = 0.0134$ and is on the higher end of metallicity. Some stars have 1/10th, 1/100th, or even 1/1000th Solar metallicity. Because this spans such a large range, we often measure metallicity on a log scale using __bracket notation__:

$$ \rm{[Fe/H]} = \log_{10}(N_{\rm{Fe}}/N_{\rm{H}}) - \log_{10}(N_{\rm{Fe}}/N_{\rm{H}})_\odot$$

that is, the log of the ratio of Fe atoms to H atoms relative to the Sun. On this scale, the Sun's [Fe/H] = 0 by definition. That means that a star with [Fe/H] = -1.0 has 1/10th the metallicity of the sun.

__How many times more or less Fe than the Sun does a star have if it has [Fe/H] = +0.3?__

[Fe/H] is often used as a proxy for the total metallicity because iron has abundant and easily measurable spectral lines. Sometimes you'll also see the notation [M/H] which represents an average of several elements.

__Modify your plot above to color-code the points by [Fe/H] in APOGEE.__ Remember that you need to use `ax.scatter` and the `c=<your list>` keyword argument. I've added skeleton code to add a colorbar on the side of the plot; make sure to label it accordingly.

In [ ]:
fig, ax = plt.subplots()
pc = ax.scatter( , , # x and y columns here
                c=, # color-coding column here
                s=0.5, # adjusts the size of the points
                rasterized=True) # makes plots with lots of points faster to render
plt.colorbar(pc, ax=ax, label='') # your label here
# axes limits and labels here
ax.set_xlabel('')
ax.set_ylabel('')
plt.show()

__Is there a correlation between [Fe/H] and the other stellar parameters? If so, describe it.__

### Alpha element abundances

The __alpha elements__ are elements such as oxygen and magnesium with an even number of protons in their nucleus. The alpha element abundance is defined as the ratio of the number of alpha elements (an average of O, Mg, etc.) relative to Fe:

$$ \rm{[\alpha/Fe]} = \rm{[\alpha/H]} - \rm{[Fe/H]} $$

Notice that because bracket notation is logarithmic, we can compute relative abundances between two elements simply by subtracting their abundances relative to H.

__What kind(s) of supernova produce alpha elements?__ (Refer to the Wikipedia articles if you aren't sure.)

__What kind(s) of supernova produce iron?__

The ratio of alpha elements to iron tells us about the relative contributions of these types of supernova to the interstellar medium. Because these supernovae explode at different timescales, this in turn tells us something about the history of chemical enrichment in the Galaxy.

__A Type II progenitor (high mass star) and a Type Ia progenitor (low mass binary) form at the same time. Which supernova explodes first?__

Make a sub-sample of stars with $-0.6 < \rm{[Fe/H]} < -0.4$. Plot a histogram of $\rm{[\alpha/Fe]}$ using `ax.hist`. Refer to the [matplotlib documentation](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.hist.html) if you have questions. I'd recommend setting `bins=100`. What do you notice?

## *Gaia* distances

The [*Gaia* spacecraft](https://www.esa.int/Science_Exploration/Space_Science/Gaia_overview) has measured precise distances and proper motions for over 1 billion stars. Fortunately for us, some of these measurements have helpfully been included in the APOGEE data file:

In [44]:
print([col for col in sample_df.columns if 'GAIAEDR3_' in col])

['GAIAEDR3_SOURCE_ID', 'GAIAEDR3_PARALLAX', 'GAIAEDR3_PARALLAX_ERROR', 'GAIAEDR3_PMRA', 'GAIAEDR3_PMRA_ERROR', 'GAIAEDR3_PMDEC', 'GAIAEDR3_PMDEC_ERROR', 'GAIAEDR3_PHOT_G_MEAN_MAG', 'GAIAEDR3_PHOT_BP_MEAN_MAG', 'GAIAEDR3_PHOT_RP_MEAN_MAG', 'GAIAEDR3_DR2_RADIAL_VELOCITY', 'GAIAEDR3_DR2_RADIAL_VELOCITY_ERROR', 'GAIAEDR3_R_MED_GEO', 'GAIAEDR3_R_LO_GEO', 'GAIAEDR3_R_HI_GEO', 'GAIAEDR3_R_MED_PHOTOGEO', 'GAIAEDR3_R_LO_PHOTOGEO', 'GAIAEDR3_R_HI_PHOTOGEO']

The best distance estimate (in parsecs) is provided in the column `GAIAEDR3_R_MED_PHOTOGEO` (what a mouthful!).

__Make a histogram of [Fe/H] for stars within 200 pc of the Sun. Is there a broad or narrow distribution of metallicities in the Solar neighborhood? (Refer back to the range of the colorbar from the last scatter plot for comparison).__

__Now plot a histogram of $\rm{[\alpha/Fe]}$ for stars within 200 pc of the Sun. Is this different from the last plot you made for the full APOGEE sample? If so, how?__

## One more plot of your choice

APOGEE is a treasure trove of data, and so far we've only scratched the surface. Explore the data on your own for a bit. Once again, you can find more info about each column in the [allStar data model](https://data.sdss.org/datamodel/files/APOGEE_ASPCAP/APRED_VERS/ASPCAP_VERS/allStarLite.html).

__Make a plot of a parameter or parameters that you find interesting. Write a couple of sentences about why you chose to make this plot and what you notice about it.__